*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: url(../image/pessoas.png);
    background-attachment: fixed;
    background-position: center;
    padding: 10px 30px;
}

.container{
    max-width: 720px;
    height: auto;
    margin: auto;
}
header{
    color: white;
    text-align: center;
}
header .container h1{
    padding: 20px 0 8px 0; 
    font-size: 25px;
}

header .container p{
    padding: 0px 0 10px 0; 
    
}

section .container{
    background-color: rgba(10, 6, 17, 0.9);
    border-radius: 10px;
    color: white;
    padding: 30px;
}
section input,
section select,
section option,
section button{
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    
}

label{
    font-size: .8rem;
}

section .radio{
    width: 20px;
    display: inline;
}

section .check{
    background-color: red;
    width: 20px;
    height: 15px;
    display: inline;
}

section textarea{
    width: 100%;
    height: 150px;
    resize: none;
    margin-bottom: 20px;
}

section button{
    padding: 10px;
    color: white;
    background-color: #22763f;
}

#creat{
    text-align: center;
}

#creat a{
    color: white;
    text-decoration: none;
}

#creat a:hover{
    color:aliceblue;
    text-decoration: underline;
}